@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&family=Overpass:wght@700&display=swap');
/* Variables */



/* Global styles */
html {
    font-size: 100%;   /* 16px */
    box-sizing: border-box;
  }
h1{
    font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 4.5rem;
}
h2{
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.875rem;
    letter-spacing: -0.02em;
}
h3{
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 1.375rem;
    line-height:  1.8rem;;
    letter-spacing: -0.02em;
}
h4{
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.02rem;
}
h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 95px;
    text-align: center;
    letter-spacing: -0.02em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

h6{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

p{
    font-family: Open Sans;
    font-size: 1.125rem;
    color:#646464;
}
ul {
    list-style-type: none;
}
header{
    display: flex;
}

/* Container styles */
.container{
    max-width: 130rem;    
    padding: 1rem;
}

/* Button styles */
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:#646464
}

.btn-peach--filled{
    padding: 0.65rem 2rem 0.5rem 2rem;
    border: 0;
    border-radius: 50px;
    background: #FBC7A8;
    font-family: Overpass;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}
.btn-peach--filled:hover{
    background:#FCD9C5
}


.btn-blue{
    padding: 0.5rem 1.25rem 0.4rem 1.25rem;
    border: 2px solid #7CA6CB;
    border-radius: 50px;
    font-family: Overpass;
    font-weight: bold;
    font-size: 0.875rem;
    color: #7CA6CB;
}
.btn-blue:hover{
    border: 2px solid #99BAD6;
    color: #99BAD6;
}

.btn-blue--filled{
    padding: 0.65rem 2rem 0.5rem 2rem;
    border: 0;
    border-radius: 50px;
    background: #CAE3F7;
    font-family: Overpass;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}
.btn-blue--filled:hover{
    background: #B8D9F4;
}

.btn-white{
    height: 2.75rem;
    width: 14rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 23px;
    background-color: white;
    color: #646464;
}

.btn-back{
    display: flex;
    color: #646464;
    gap: 1.25rem;
    padding: 2rem 0 1.8rem 0;
}
.btn-back img{
    width: 3.875rem;
    height: 1.5rem;
}

.list-btn{
    font-size: 1rem;
    margin: 0 1rem;
    margin-top: 0.5rem;
}


/* Navbar */
.navbar{
    padding: 0 1rem;
}
.navbar__heading{
    display: flex;
    padding: 0.7rem 0.3rem 1rem 0;
}
.navbar__heading img{
    height: 7rem;
    padding: 0 0.5rem;
}
.navbar__heading h3{
    color: #646464;
}
.navbar__heading .subtitle{    
    padding: 1.25rem 1rem;
}

.navbar__list {
    display: flex;
    gap: 2rem;
    margin: 0;
}
.navbar__list-item {
    color: #646464
}
.navbar__list-item h3:hover {
    color: black
}
.navbar__list-item-current {
    color: black
}
.navbar__buttons-container{
    display: flex;
    gap: 3.125rem
}
img.setting_img{
    margin: 0.55rem 0;
    max-height: 1.875rem;
}
img.notiffication_img{
    margin: 0.5rem 0;
    max-height: 1.975rem;   
}
/* Login container */
.background__container{
    display: flex;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    background-color: white;
    padding: 2rem;
}
.form{
    padding: 8vh 0;
    text-align: center;
}
.form h1{
    font-size: 4rem;
    padding-bottom: 1.5rem;
}
.form a{
    padding-bottom: 2.625rem;
    text-align: right;    
    display: inherit;
}
.form input[type=text] {
    width: 100%;
    padding-bottom: 4rem;
    border: 0;
    border-bottom: 1px solid #646464;
    font-size: 1.125rem;
    color: black;
    padding: 7px 0;
    background: transparent;
}
.form input[type=text]:focus{
    outline: none;
    border-bottom: 2px solid #FBC7A8;
}

.form input[type=password]{
    width: 100%;
    padding-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid #646464;
    font-size: 1.125rem;
    color: black;
    padding: 7px 0;
    background: transparent;
}
.form input[type=password]:focus{
    outline: none;
    border-bottom: 2px solid #FBC7A8;
}
.form input[type=email] {
    width: 100%;
    margin-bottom: 3.75rem;
    padding-bottom: 4rem;
    border: 0;
    border-bottom: 1px solid #646464;
    font-size: 1.125rem;
    color: black;
    padding: 7px 0;
    background: transparent;
}
.form input[type=email]:focus{
    outline: none;
    border-bottom: 2px solid #FBC7A8;
}
.update{
    padding-top: 2.625rem;
    padding-left: 2.75rem;
    border-left: 1px solid #E5E5E5;
    color: #646464;
}
.update h4{
    padding-bottom: 0.5rem;
}
.update img{
    padding-left: 3vw;
    padding-bottom: 0.5rem;
    max-height: 30rem;
}

/* Reset password */
.reset__pass{
    padding: 22vh 0;
}

/*Choos school*/
.choose_school_container{
    text-align: center;
    padding: 8vh 0;
}
.schools__list{
    padding: 1rem 0 0 0;
    margin-bottom: 0;
}
.schools__list li{
    padding: 1rem 0;
    margin-top: 1rem;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.schools__list li:hover{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

/* Backgroung vectors */
.peach_vector{
    position: absolute;
    top: 35%;
    left: 21%;
    z-index: -1;
}
.peach_vector-main{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: -1;
}
.blue_vector{
    position: absolute;
    top: 12%;
    left: 53%;
    z-index: -1;
}
.blue_vector-main{
    position: absolute;
    top: 13.125rem;
    left: 1rem;
    z-index: -1;
}

/* Header */
header h1{
    text-align: center;
    padding-bottom: 1rem;
}

header h3{    
    text-align: center;
    padding-bottom: 3rem;
}

/* Main Page */

.upcoming_events{
    text-align: center;
    display:block;
}
.upcoming_event{
    display: flex;
    padding-top: 2rem;
}
.date{
    display: block;  
    padding: 0;  
    padding-top: 0.5rem;
}
.date h2{
    margin: 0;
}
.evet_title{
    text-align: left;
    padding: 2.18rem 0;
}

.colum_journal_class{
    padding-left: 3rem;
}
.journal_main{
    gap: 3vw;
}
.journal_main h2{
    padding-top: 0.2rem;
    margin: 0;
}
.journal_main a{
    background-color: #FBC7A8;
    min-width: 13.4rem;
    max-height: 3.625rem;
}
.journal_main a:hover{
    background-color: #FCD9C5;
    color: white;
}
.recent_classes{
    display: block;
    margin-top: 2rem;;
}
.recent__classes{
    display: flex;
    margin-top: 2rem;
    gap: 1vw;
}
.recent_class{
    width: 11vw;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
}
.recent_class p{
    font-size: 0.9rem;
    margin-bottom: 0.4vw;
    padding: 0 0.5rem;
    color: white;
}
#recent_class1{
    background-color: #6D9AC5;
}
#recent_class2{
    background-color: #A7D0F1;
}
#recent_class3{
    background-color: #FBC7A8;
}
.teacher{
    font-weight: bold;
}

/* Classes */
.classes{
    padding: 1.5rem;
}
.sort_filtr{
    display:flex;
    margin: 1rem 0;
    gap: 2rem;
}
.sort_filtr h3{
    margin-top: 0.6rem;
    color: #646464;
}
.level{
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
}
.class{
    width: 8.125rem;
    height: 8.125rem;
    padding: 0.35rem;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
}
.class p{
    font-size: 0.9rem;
    margin-bottom: 0.4vw;
    padding: 0 0.5rem;
    color: white;
}
#class_0{
    background-color: #568ABB;
}
#class_1{
    background-color: #6697c2;
}
#class_2{
    background-color: #7CA6CB;
}
#class_3{
    background-color: #A7D0F1;
}
#class_4{
    background-color: #B8D9F4;
}
#class_5{
    background-color: #CAE3F7;
}
#class_6{
    background-color: #FBC7A8;
}
#class_7{
    background-color: #FCD9C5;
}
#class_8{
    background-color: #FDE6D8;
}

/* Students List */
.class_info{
    color:#646464;
}
.class_info_{
    display: flex;
}
.class_info_ p{
    font-size: 1rem;
}
.info{
    font-weight: bold;
    margin-left: 1.5rem;
    margin-right: 4vw;
}

.titles p{
    font-size: 0.93rem;
}
.title{
    text-align: center;
}
.student{
    padding: 0;
    padding-top: 0.75rem;
    margin-bottom: 1rem;
}
.student p{
    font-size: 1rem;
}
.check-ups{
    display: flex;
    gap:1vw;
}
.list-buttons{
    margin-top: 0.125rem;
}

/* Student */

.student_blocks{
    display: block;
    margin-bottom: 1.75rem;
}
.student_blocks a{
    display: block;
    text-align: center;
    padding: 0.75rem;
    margin-top: 1.25rem;
}
.student_blocks h2{
    margin-bottom: 2rem;
}

.student_blocks_titles{
    margin-bottom: 2rem;
}
.student_blocks_titles h2{
    margin-bottom: 0;
}
.student_blocks_titles a{
    margin-top: 0;
}

.student_info h2{
    margin-bottom: 0.25rem;
}
.student_info p{
    margin-top: 1.75rem;
}
.student_info_{
    font-weight: bold;
}

.student_titles p{
    font-size: 1rem;
    text-align: center;    
}
.student_diseases_ p{    
    padding: 0.75rem 1.5vw;
    margin-left: 1.5vw;
}
.student_pe p{
    padding: 0.75rem 1vw;
    margin-left: 1vw;
    text-align: center;    
}
.student_pe_date{
    margin-left: 1vw;
}

